.mainBox {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
}
.resultBox {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
}

@media only screen and (max-width: 1440px) {
  .mainBox {
    box-shadow: unset;
    height: 100%;
    margin-top: unset !important;
    margin-bottom: unset !important;
  }
}
